package views

templ (r Renderer) Layout(title string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>{ title }</title>
			<link rel="stylesheet" href={ r.asset("main.css") }/>
		</head>
		<body class="bg-gray-950 text-gray-100 min-h-screen" x-data>
			{ children... }
			<script src={ r.asset("main.js") }></script>
		</body>
	</html>
}
